{% extends "base.html" %}

{% block extra_head %}
<script src="{{ url_for('static', filename='js/listado.js') }}" defer></script>
{% endblock %}

{% block title %}Detalle Aviso {{ aviso.id }}{% endblock %}

{% block content %}
<a href="{{ url_for('listado') }}">← Volver al listado</a>
<h2>Detalle del aviso</h2>

<p><strong>Publicación:</strong> {{ aviso.fecha_ingreso.strftime("%Y-%m-%d %H:%M") }}</p>
<p><strong>Entrega:</strong> {{ aviso.fecha_entrega.strftime("%Y-%m-%d %H:%M") }}</p>
<p><strong>Comuna:</strong> {{ aviso.comuna.nombre }}</p>
<p><strong>Sector:</strong> {{ aviso.sector }}</p>
<p><strong>Tipo:</strong> {{ aviso.tipo.value }} {% if aviso.tipo_otro %} ({{ aviso.tipo_otro}}) {% endif %}</p>
<p><strong>Cantidad:</strong> {{ aviso.cantidad }}</p>
<p><strong>Edad:</strong> {{ aviso.edad }} {{ aviso.unidad_medida }}</p>
<p><strong>Contacto:</strong> {{ aviso.nombre }} ({{ aviso.email }})</p>

{% if aviso.contactos %}
<p><strong>Otros Medios de Contacto:</strong></p>
<ul>
  {% for c in aviso.contactos %}
    <li>{{ c.nombre }}: {{ c.identificador }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if aviso.fotos %}
<div id="galeria">
    {% for foto in aviso.fotos %}
    <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" width="200" height="150">
    {% endfor %}
</div>
{% else %}
    <p>(Sin fotos)</p>
{% endif %}
{% endblock %}
